.box{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid;
}
.box1{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid red ;
}
.box2{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid ;
}
.box3{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid ;
}
.box4{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid ;
}
.box5{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid ;

}
.box6{
    background-color: blue ;
    width: 200px;
    height: 200px;
    border-radius:10px;
    border: solid ;
}
.box7{
        background-color: blue ;
        width: 200px;
        height: 200px;
        border-radius:10px;
        border: solid ;
    
    
}



